# Secure variable encode: https://ci.appveyor.com/tools/encrypt

environment:
  TYPEWORLD_APIKEY:
    secure: BpVvXCls5krE+yjHTObw668j2CzcgcAOPRZ+Klorq2sIcnXIcPvAV/ZcKg6XnpewnpQXlYvtGtu18x6k8YAqWg==
  SPARKLE_KEY:
    secure: OWAKP6zkRICoVr8PCYYnw792bI/NILKI+xIfpn7LmVMJT0SpuE2fNLNY4SZuiPOQ/obdwOxv792BxpUJMyOCMharGfHegQyD4DBw+5Ip/SsvebBfI6XSqxNoINoJEext2WM/FaUTtZVWdqWdJstxHAlBCStcCZR8ic55grhnLsjQsWML3pa9nqkTVC//0Z03
  REVOKEAPPINSTANCEAUTHKEY:
    secure: lSWflhhIJjjvNeW55FvC21Duh+NLGfQmlAOXGuiJZdY=
  GOOGLE_APPLICATION_CREDENTIALS_KEY:
    secure: NTARbVc75jP9+LTUCjfWMOSiwQY47X4yq24WWwus9599o3Rdgd+oNFyEgPvwDrc4H+FjCyYz9F84Qg12nhi+Us4jBGMllIW23bh08dVI2RZFMhwTKN5/KwSZU91tkP0tkDOrv/ID1SeeM5f4TaOc0wsgAPsQbXiyLCIkwnBCTd4kt+Mazqtr5Uhnb6mfthzLv3ZK4w7kqFlf/kMkmeiJpCq5uq6YsLp4hkY5FUpkLTeQoF+FyatRjLAB07LbcjuEI6NkWUkPxqv1W36hHEkyc6HI/GlHcMopVONQntsSd/bgkpocaLNAcpaxJVk7X6h+SSs1WZODzHVM/VrvHP6HO/Dh9h7emCeWIJs0fz1QN4Rh62P9Ri5mx1qXKjYV13hTo/UCWJFGZ+SKCWr1x/jQzDCHIq/wsdgMtIcbYryY4U5Fgu4szcrZWeZrRNSbw0Fip/1JtvGqgRtU8box8Qsuwc0MAASpwJwPMzfHiJ4pTmFijw/JjV/AI4WCWcQYhArpTxguLmLkwq913ZDR6Enkn5oZ/50MCV4ZgZ6FLs962J5eHPOtGMb4diCFCmFufcXp4zbnTqVfaX8L87z/C+eMSK51RPZTe0hc6LbfZwE9U0Xd7CSdmpoGn7/gE9teOwB0JB6o/tWzw1wnNNCHgg+vARt5+LbxwBLFtaO15JnSBrXKiEeIv7h/KlVPDGRg0VP1ShhLLaHcp6VvMlTzfJGn+bkNefrvXe1rm9ow8YNXEFKV+oEo0pQHIIAQno9Iy4KxRCjmklki5ILFve1UOxEoCMVtJ+jETCthC1KLWtgAE1L1Mppfk3/6L7ARG4XaV2oOew+RrAVKcklgS1jhiiWgUDTK5avktchxXLKfLJb1/K5krviDWI+BIA6VlTwu6DwaXizKNxqSrzxGH2ddzMT2eDgtVjmmsBvZYexLBQZ7GYZHvqJTKrl0oJjELv0uXpVZcpoO29CfGxMYA45xt1NCMOJlXyHPsZhgN5j3V79Cb7+o/S2bsFS9wH05rzE7J5ePYRUuUnZFGp6MMdFwx75FCuYkLuf64BPE771gpk8doa1x0bJVThEASqAAM/qVVWwp9qAkRC/kiMCXAv5FVT8/JbJsLJ8sK3kdrD17TxYLXKeKEvvP2PqxfxNuv3/Ymo4dyM90HQ2dOCkeqBsOv9bR2/nZehv86QGSRy6kBDhf7IZKDRQqxPc0DcCPLsitv/VW7tWCE5+KdUS9mlxz++gPLIcW2IkipfAnQDubmbYnf14SrCTdjuMsZcekGcwcHPtQ8POf9tZ6n+GAulaAAx8RBZGwNsOO2ouVCCusJzxx2bVDwf96IzWa2P/7whUFFsqAoLNIbUFsQJqw5pnaGytwGs8Qo+7DkOLS1iA4HAbhVnP2alpZ7nJNTZfMzNKKviDrdVirhOgwZwZY1taQTuCQSmr3x6mo3PDdsH/CZIMfMYRFaZygnqInsZgKCTEa3/8VbvbR0sappWo+5lXo+wplB8m0jMnfWb9YWSAxSlWmvY8l78msW517zcitCOra1IQsZ9KE/Pa1ywuSiUDkZmGkWu0tvVZBxUnhloUI93zp9g9f+vnhqMTxOEafJ0MnHXtiVTYnz9sCeanohmiw1APjPiJdzTOuAblOnKfMSHbArDU9ZKF2JbheDkendHWDJsPljt54HJtVDE3FAJDMu3zYw5Lq+kW4Kina+fYuaUvAsV4CLGtNnXdUW91gHOmwRFy1lB3qbz+DE2hXXeEN7ser5XySVXa+NO7cqR6udwooOC33zRSFSNxNf4qb/cWrvRyX/mdeJ6ySxNuIoBVwv4qsye1LUVPBGyfMEyXdcLod+XoRRIvvuZjPQ/NAmZCHADc/4CPEOSpu7Y8M1DS9s9wm1aTCDYlUTbGQ+T8dJNiykhpqaMsJhBTQcOcBoWqP3ed1gyHEMgIZ0Mwn2tZubsVSzq9+9voxTlqNtPZdTrzfz4gNsR4x7yrdr0gLT4ResYsUxfeuWgcSA47zThlwvOg8vyzTewhJd0JQm0k1O1PT7OngM+06FUItwceyCiSUumznU3Fm2ZD2P82Op+sUrMDJTLe3acs5RY78pHefI07ypAut4pSvagbmFRBbXKxSyIvC6kfs7RhVuox4xF5dzSIlZrXeuto2t6HPE6nq/25ooc0ZZ31zxmd63sOSKpXrv/5ABbCjC3qidYlHh3MMaGNX328jwVOS4jcNgoE54HuSlAZ5fney9gwMDqKuY2iFa8eLdrEJ49hFfrjwURyzNOfEcq9n3wCoNxozNjoJphab1jNjihP8Kfakj0nXsnAmeC0lwfTSwrUO517tJdEIk9ll2Ws6x4En1jiySComSUOqyGyiV3GCtcmU8k2XluGYpCZtcHaLDOoPX/X0esYvkRgldmu8ml+kZLx8aqqWqKzNFWMqSWd5A2xPNJ/J+D6sWlmLLFGMGPZxL1YC1H/sJE9hDT3cErc49aa1haa8Pum6mLleIsYOTJd7CE9LSOOY8S5c1Vt5iQSbCux401/TntkZPkO1MYgu2XelX/d2w8ZWqBXOsQ3Vnc9Cxy9hRp/75hoPnO9Agip/HSgNbDAQLdN5yrpJUsmpkCYr9JslPGrYzvKkBbkNQJGEzdSnUyRc++PuBqRgpTl3fpL5GIkanicSsUE7Omen/zsMuh3J975fEYxkaahKbu+Mh1B/7tSunwxbW5nwbHjZCXRcSA6K5FLOi2lmLt7tOL/e0Tk/1m6CF+IpdWZbTqY2EQy0162A1wmAW+RpdSqpV0i/6fa+3YWnf1h3Sqzt3+aQL1BFOMw+f3JZLPW3Qazm245UNkxeCO1oPqKRJOvbFQ4U/V1Xh/aWxjFHqW3ShkAAe+CvSX6thYKC6dmiY8HK+a0IY0A9RNIPt905fyVdvecPPMgAPfta7x1eAn9ayMA9sCKMDjIAWg24al/scGF8amzSwv4I0EREIcg2G64l3APC9MHZ1eppHHpWKL+D8ECQ9EEaK0EMet22nH9OF6XbbmzeNkNtm4KvNwnHExpZzvLEVhGa154Xp6PtkEnfhj0F2By8+EuPosYRItkRI7vVquXbFgAKjsrFp0fXgJaKmLOJBWla3Vyz1epYDiss85ZYfJayI0CCvGpZdJzoyTtA44WvS4tw/TjbH9Eo2JU2vLGNOeDIlYzPPA==

  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: macos
      PYTHONSTACK: "3.7"
      APPVEYOR_VNC_PASSWORD:
        secure: qZ0+QN7bEMCyBE5sYidHG06OvGEFcRA0zJKPmufXs8I=
      MACOS_CERT_PASSWORD:
        secure: IFtScemD75puAJt7Tb008wxIubzsj3u6J7EuU1f9Bh8qtHt60W7TLDh1Iho5atndKpismj7XXpdEZdvHkPJlEg==
      MACOS_CERT_SALT:
        secure: DwdKByBf2xzjNVFfo/gM0MUpxRGAf0LbUPvhjUx10/mDEyma+EyRCnoSvx5xffT8g1Eppgkka/Pnj7MRxtKpXg==
      NOTARIZATION_PASSWORD:
        secure: GSx9RwIptxysFhknySGtbDVTxoLRsjNLDSDhixYAakY=
      # Secure Files
      SECUREFILE_DECODE_SECRET_2: # So use this one onwards
        secure: sAO8iII4QbSEFjgrW7FybecR+m/8UK80xkPlFM3qJIQ=

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      PYTHON: "C:\\Python37-x64"
      PYTHON_VERSION: "3.7.9"
      PYTHON_ARCH: "64"
      PYTHONSTACK: "3.7"
      SHELL: "C:\\msys64\\usr\\bin\\bash.exe"
      SIGNTOOL: '"C:\Program Files (x86)\Windows Kits\10\bin\10.0.18362.0\x86\signtool.exe"'

      # Code Signing
      JANGERNER_PFX_PASSWORD:
        secure: IFtScemD75puAJt7Tb008wxIubzsj3u6J7EuU1f9Bh8qtHt60W7TLDh1Iho5atndKpismj7XXpdEZdvHkPJlEg==
      JANGERNER_PFX_SALT:
        secure: OGLa5N9UZK9nWF0+I8kxCffV/CYw0yAX/vflAsMgIDBazIMokQmku45lgyWvcMtJuzKzFDhi181ahKIRKl50Vw==

      # Secure Files
      SECUREFILE_DECODE_SECRET_2: # So use this one onwards
        secure: sAO8iII4QbSEFjgrW7FybecR+m/8UK80xkPlFM3qJIQ=
      WINSPARKLE_PRIVATEKEY_DECODE_SALT:
        secure: gSsvWsS2TRkjiEvl9pP6txEemgpAkejqPjLMLw2E9UQBbq3Ewp48VEvdj/EzzOK2Crv3FCLR8ZDU63x8SLIWWQ==



stack: python %PYTHONSTACK%

for:
-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: macos

  # VNC
  init:
    - sh: curl -sflL 'https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-vnc.sh' | bash -e -
  install: 
    # - sh: curl "https://api.type.world/setBuildStatusChange/world.type.guiapp/mac/started/?TYPEWORLD_APIKEY=$TYPEWORLD_APIKEY"
    - sh: sh wxPython/build/build-canbuild.sh mac
    - sh: curl -sflL 'https://raw.githubusercontent.com/appveyor/secure-file/master/install.sh' | bash -e -
    - sh: ./appveyor-tools/secure-file -decrypt wxPython/build/Mac/codesigning/jangerner.p12.enc -secret $SECUREFILE_DECODE_SECRET_2 -salt $MACOS_CERT_SALT
    - sh: sh install_mac.sh
    # - sh: python -m coverage run wxPython/app.py selftest && codecov -n "Mac on AppVeyor"
  build_script: 
    - sh: sh wxPython/build/Mac/build-all.sh
  # on_success: 
  #   - sh: curl "https://api.type.world/setBuildStatusChange/world.type.guiapp/mac/success/?TYPEWORLD_APIKEY=$TYPEWORLD_APIKEY"
  # on_failure: 
  #   - sh: curl "https://api.type.world/setBuildStatusChange/world.type.guiapp/mac/failed/?TYPEWORLD_APIKEY=$TYPEWORLD_APIKEY"

-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019


  install: 
    # Remote Desktop
    - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

    # Decrypt secure files
    - ps: iex ((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/appveyor/secure-file/master/install.ps1'))
    - cmd: appveyor-tools\secure-file -decrypt wxPython\build\Windows\codesigning\jan_gerner.p12.enc -secret "%SECUREFILE_DECODE_SECRET_2%" -salt "%JANGERNER_PFX_SALT%"
    - cmd: appveyor-tools\secure-file -decrypt wxPython\build\Windows\winsparkle\dsa_priv.pem.enc -secret "%SECUREFILE_DECODE_SECRET_2%" -salt "%WINSPARKLE_PRIVATEKEY_DECODE_SALT%"

    # - cmd: curl "https://api.type.world/setBuildStatusChange/world.type.guiapp/windows/started/?TYPEWORLD_APIKEY=$TYPEWORLD_APIKEY"

    - cmd: set "PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%"
    - cmd: sh install_windows.sh
    - cmd: python -m coverage run wxPython/app.py selftest && codecov -n "Windows on AppVeyor"
    - cmd: sh wxPython/build/build-canbuild.sh windows

  build_script: 
    - cmd: C:\\msys64\\usr\\bin\\bash.exe wxPython/build/Windows/build-all.sh
    - wxPython/build/Windows/build-sign.bat
    - cmd: C:\\msys64\\usr\\bin\\bash.exe wxPython/build/Windows/build-pack.sh
    - wxPython/build/Windows/build-signinstaller.bat
    - cmd: C:\\msys64\\usr\\bin\\bash.exe wxPython/build/Windows/build-upload.sh

  # on_success: 
  #   - cmd: curl "https://api.type.world/setBuildStatusChange/world.type.guiapp/windows/success/?TYPEWORLD_APIKEY=$TYPEWORLD_APIKEY"
  # on_failure: 
  #   - cmd: curl "https://api.type.world/setBuildStatusChange/world.type.guiapp/windows/failed/?TYPEWORLD_APIKEY=$TYPEWORLD_APIKEY"
