# Build time
cx_freeze==6.1 # https://stackoverflow.com/questions/62951554/cx-freeze-gives-typeerror-expected-str-bytes-or-os-pathlike-object-not-nonety
google-cloud-storage
wheel
psutil

# GUI App
git+https://github.com/typeworld/typeworld.git
wxPython==4.0.7
# wxPython
pystray
plyer
packaging
cryptography
pywin32
pywinsparkle
numpy
codecov

# Over-ride typeworld
pyzmq==19.0.2
