git+https://github.com/typeworld/typeworld.git
py2app
pystray
wxPython
flask
markdown2

# weird app dependencies
jsonpickle
pyparsing
more_itertools
numpy

# build time only
google-cloud-storage
dmgbuild
git+https://gitlab.com/python-devs/importlib_metadata.git # because version bug. until 1.7.1 is available on pypi, we'll use this one
codecov
