/*---------------clear-------------*/
.clear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clear {display:inline-block;}
/* Hide from IE Mac \*/
.clear { display:block; }
/* End hide from IE Mac */
* html .clear {height:1px;}
/*---------------clear-------------*/



* {
/*	position: relative;  */
	padding: 0; margin: 0;
	cursor: default;
}

html {
	height: 100%;
	width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 10pt;
    margin: none;

}

a {
	color: inherit;
	text-decoration: none;
}


.centerOuter {
	height: 100%;
}

.centerInner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 5px;
}

h1 {
	margin-bottom: 10px;
}


input, textarea, select {
/*	font-family: 'Nitti Light', 'Andale Mono', monospace;
*/	font-weight: normal;
	font-size: inherit;
	line-height: 120%;
	color: #444;
	padding: 3px;
	padding-left: 6px;
	padding-bottom: 5px;
	width: 97%;
/*	word-spacing: -3px; */
	margin-top: 2px;
	margin-bottom: 9px;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;
	border: none;
}


input[type=button],input[type=submit],.button {
	width: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
	margin-left: 0px;
/*	margin-bottom: -5px; */
	margin-right: 0px;
	cursor: pointer;
	background-color: #58585A;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;
	-webkit-appearance: none;
	font-family: inherit;
	color: #FFF;
	display: inline-block;
}

input[type=button]+input[type=button], input[type=button]+input[type=submit], input[type=button]+.button,
input[type=submit]+input[type=submit], input[type=submit]+input[type=button], input[type=submit]+.button,
.button+.button, .button+input[type=button], .button+input[type=submit],

.no-print input[type=button]+.no-print input[type=button], .no-print input[type=button]+input[type=submit], .no-print input[type=button]+.button,
input[type=submit]+input[type=submit], input[type=submit]+.no-print input[type=button], input[type=submit]+.button,
.button+.button, .button+.no-print input[type=button], .button+input[type=submit]

 {
	margin-left: 5px; 
}

.button.secondary, a.button.secondary, input[type=button].secondary {
	background-color: rgba(0, 0, 0, .2) !important;
	color: rgba(0, 0, 0, .2) !important;
}

input[type=button].important,input[type=submit].important,.button.important {
	background-color: #ff8746;
	color: #333;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.wrapper {

    overflow: hidden;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#sidebar {
	font-size: 14px;
	position:absolute;
    background-color: #333;
    color: #DDD;
    width: 200px;
/*    height: 100%;
*/
    top: 0;
    bottom: 0;

    overflow-y: scroll;


	
}

#sidebar .headline {
	font-size: 75%;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding: 15px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
}




#sidebar .publisher {
    padding: 13px;
    padding-top: 4px;
    padding-bottom: 4px;

}

#sidebar .publisher.hover {
	background-color: rgba(0, 0, 0, .1);
}

#sidebar .publisher.selected {
	background-color: black;
}

#sidebar .publisher .name {
	position: relative;
	padding: 3px;
	padding-left: 0px;
	padding-right: 0px;

	float: left;
}

#sidebar .badge {
	position: relative;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 5px;
	float: right;

	display: none;
}

#sidebar .publisher[dir="rtl"] .name {
	float: right;
	text-align: right;
 }

#sidebar .publisher[dir="rtl"] .badge {
	float: left;
 }


#sidebar .publisher .new {
	color: black;
	background-color: orange;
}

#sidebar #bottom {
	position: absolute;
	padding: 20px;
	bottom: 0px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#main {

	display: none;
	position:absolute;

	left: 200px;
	top: 0;
	bottom: 0;
	right: 0px;

    height: 100%;
    background-color: #FFF;

    overflow-y: scroll;

}

#main .publisher .head {
	width: 100%;
	background-color: #EEE;
	padding: 25px;

}

#main .publisher .head .warningButton {
	color: #E5352D;
}

#main .publisher .head .logo {
	float: left;
}

#main .publisher .head .names {
	float: left;
}

#main .publisher .head .names .name {
	font-weight: normal;
	font-size: 24px;
}

#main .publisher .head .names .website {
	color: #555;
	margin-top: 2px;
}

#main .publisher .head .buttons {
/*	width: 30%;
*/	position: absolute;
	left: 25px;
	right: 25px;
}

#main .publisher div.right {
	float: right;
	margin-left: 10px;
	text-align: left;
}

#main .publisher div.left {
	text-align: left;
	float: left;
	margin-right: 10px;
}


#main .publisher .foundry .families {
	padding: 25px;
}

/* ////////////// FAMILY ////////////// */

#main .publisher .family .title {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -25px;
	margin-right: -25px;
}

#main .publisher .family .name {
	font-weight: bold;
	color: #F17022;
}

#main .publisher .family .title.selected .name {
	color: white;
}


/* ////////////// FONT ////////////// */

#main .publisher .font {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -25px;
	margin-right: -25px;
}

#main .publisher .font.hover, #main .publisher .family .title.hover {
	background-color: #EEE;
}

#main .publisher .font.selected, #main .publisher .family .title.selected {
	background-color: #F17022;
}

#main .publisher .font .installButton {
	display: none;
}
#main .publisher .font .removeButton {
	display: none;
}
#main .publisher .font .status {
	display: none;
}

#main .publisher .family a:hover {
	color: gray;
}

#main .publisher .family a:active {
	color: black;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#addPublisher {
	display: none;
	z-index: 100;
	background-color: #EEE;

	position:absolute;
	left: 00px;
	top: 0;
	bottom: 0;
	right: 0px;

	padding: 100px;


}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


