/*---------------clear-------------*/
.clear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clear {display:inline-block;}
/* Hide from IE Mac \*/
.clear { display:block; }
/* End hide from IE Mac */
* html .clear {height:1px;}
/*---------------clear-------------*/



* {
/*	position: relative;  */
	padding: 0; margin: 0;
	cursor: default;
}

html {
	height: 100%;
	width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 10pt;
    margin: none;
}

a {
	color: inherit;
	text-decoration: none;
}


.centerOuter {
	height: 100%;
}

.centerInner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 5px;
}

h1 {
	margin-bottom: 10px;
}


input, textarea, select {
/*	font-family: 'Nitti Light', 'Andale Mono', monospace;
*/	font-weight: normal;
	font-size: inherit;
	line-height: 120%;
	color: #444;
	padding: 3px;
	padding-left: 6px;
	padding-bottom: 5px;
	width: 97%;
/*	word-spacing: -3px; */
	margin-top: 2px;
	margin-bottom: 9px;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;
	border: none;
}


input[type=button],input[type=submit],a.button {
	width: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
	margin-left: 0px;
/*	margin-bottom: -5px; */
	margin-right: 0px;
	cursor: pointer;
	background-color: #58585A;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;
	-webkit-appearance: none;
	font-family: inherit;
	color: #FFF !important;
	display: inline-block;
}

a.button {
	padding-top: 3px;
	padding-bottom: 4px;
}
input[type=button]+input[type=button], input[type=button]+input[type=submit], input[type=button]+.button,
input[type=submit]+input[type=submit], input[type=submit]+input[type=button], input[type=submit]+.button,
.button+.button, .button+input[type=button], .button+input[type=submit],

.no-print input[type=button]+.no-print input[type=button], .no-print input[type=button]+input[type=submit], .no-print input[type=button]+.button,
input[type=submit]+input[type=submit], input[type=submit]+.no-print input[type=button], input[type=submit]+.button,
.button+.button, .button+.no-print input[type=button], .button+input[type=submit]

 {
	margin-left: 5px; 
}

.button.secondary, a.button.secondary, input[type=button].secondary {
	background-color: rgba(0, 0, 0, .2) !important;
	color: rgba(0, 0, 0, .2) !important;
}

input[type=button].important,input[type=submit].important,.button.important {
	background-color: #ff8746;
	color: #333;
}

input[type=radio] {
	width: 25px;
}


.contextmenu {
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.wrapper {

    overflow: hidden;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.sidebar {
	font-size: 14px;
	position:absolute;
    background-color: #333;
    color: #DDD;
    width: 200px;
/*    height: 100%;
*/
    top: 0;
    bottom: 0;

    overflow-y: scroll;


	
}

.sidebar .headline {
	font-size: 75%;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding: 15px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
}




.sidebar .publisher {
    padding: 13px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.sidebar .publisher.hover {
	background-color: rgba(0, 0, 0, .1);
}

.sidebar .publisher.selected {
	background-color: black;
}

.sidebar .publisher .name {
	position: relative;
	padding: 3px;
	padding-left: 0px;
	padding-right: 0px;

	float: left;
}

.sidebar .badge {
	position: relative;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 5px;
	float: right;

/*	display: none;*/
}

.sidebar .reloadAnimation {
	position: relative;
	float: right;

/*	display: none;*/
}

.sidebar .publisher[dir="rtl"] .name {
	float: right;
	text-align: right;
 }

.sidebar .publisher[dir="rtl"] .badge {
	float: left;
 }

.sidebar .publisher[dir="rtl"] .reloadAnimation {
	float: left;

/*	display: none;*/
}


.sidebar .publisher .badge.installed {
	color: black;
	background-color: #666;
}

.sidebar #bottom {
	position: absolute;
	padding: 20px;
	bottom: 0px;
}

#subscriptions {
	left: 200px;
	width: 200px;
	background-color: #444;
}

#subscriptions.sidebar .publisher.selected {
	background-color: #222;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#main {

	/*display: none;*/
	position:absolute;

	left: 400px;
	top: 0;
	bottom: 0;
	right: 0px;

    height: 100%;
    background-color: #FFF;

    overflow-y: scroll;




}

#main .publisher .head {
	width: 100%;
	background-color: #EEE;
	padding: 25px;

}

#main .publisher .head .warningButton {
	color: #E5352D;
}

#main .publisher .head .logo {
	float: left;
	margin-right: 15px;
}

#main .publisher .head .names {
	float: left;
	position: relative;
	top: -4px;
}

#main .publisher .head .names .name {
	font-weight: normal;
	font-size: 24px;
}

#main .publisher .head .names .website {
	color: #555;
	margin-top: 2px;
}

#main .publisher .head .buttons {
/*	width: 30%;
*/	position: absolute;
	left: 25px;
	right: 25px;
}

#main .publisher div.right {
	float: right;
	margin-left: 10px;
	text-align: left;
}

#main .publisher div.left {
	text-align: left;
	float: left;
	margin-right: 10px;
}


#main .publisher .foundry .families {
	padding: 25px;
}

/* ////////////// FAMILY ////////////// */

#main .publisher .family {
	margin-bottom: 20px;

	padding-left: 25px;
	padding-right: 25px;
	margin-left: -25px;
	margin-right: -25px;
}

#main .publisher .family .title {
	padding-top: 5px;
	padding-bottom: 5px;
}

#main .publisher .family .name {
	font-size: 24px;
/*	font-weight: bold;
	color: #F17022;
*/}

#main .publisher .family .title.selected .name {
	color: white;
}


/* ////////////// FONT ////////////// */

#main .publisher .font {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: -25px;
	margin-right: -25px;

	transition: background-color .2s;
}

#main .publisher .font.hover, #main .publisher .family.hover {
	background-color: #EEE;
}

#main .publisher .font.selected, #main .publisher .family .title.selected {
	background-color: #F17022;
}

#main .publisher .font .installButton {
	display: none;
}
#main .publisher .font .removeButton {
	display: none;
}
#main .publisher .font .statusButton {
	display: none;
}

#main .publisher a:hover {
	color: gray;
}

#main .publisher a:active {
	color: black;
}

.label {
	background-color: lightgray;
	border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px;
	margin-left: 5px;
	font-size: 80%;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	position: relative;
	top: -1px;

	transition: background-color .2s;
}

.label.free {
	background-color: #D4EBF4;
	color: #009EE0;
}

.label.installedFonts {
	background-color: #97BF0D;
	color: black;
}

.label.beta {
	background-color: #F4D9CB;
	color: #F17022;
}

.label.var {
	background-color: #F4DBB3;
	color: #CC8D27;
}

#main .publisher .font.hover .label {
	background-color: #FFF;
}

/* *** font versions *** */

.label.installedVersion.latestVersion {
	background-color: #97BF19;
	color: white;
}

#main .publisher .font.hover .label.installedVersion.latestVersion {
	background-color: white;
	color: #97BF19;
}

.label.installedVersion.olderVersion {
	background-color: #F7AE22;
	color: white;
}

#main .publisher .font.hover .label.installedVersion.olderVersion {
	background-color: white;
	color: #F7AE22;
}




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#addPublisher .inner {

	z-index: 100;
	background-color: #EEE;

	position:absolute;
	left: 00px;
	top: 0;
	bottom: 0;
	right: 0px;

	padding: 100px;

	text-align: left;


}


.closePanelButton {
	color: #333;
	text-align: right;
	font-size: 24pt;
	margin-right: 20px;
	margin-top: 20px;

}

.closePanelButton a {
	color: #333 !important;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#welcome {

	/*display: none;*/
	position:absolute;

	left: 200px;
	top: 0;
	bottom: 0;
	right: 0px;

    height: 100%;
    background-color: #EDEBDD;

    overflow-y: scroll;

    font-size: 18pt;
    line-height: 24pt;

}

.panel {

	display: none;
	position:absolute;

/*	padding: 50px;
*/
	left: 0px;
	top: 0;
	bottom: 0;
	right: 0px;

    height: 100%;
    background-color: #EDEBDD;

    overflow-y: scroll;

    font-size: 12pt;
    line-height: 18pt;

	text-align: center;

	z-index: 50;
}

.panel #text {
	display: inline-block;
	width: 500px;
	text-align: left;
}

.panel a {
	color: #259CD3;
}

.panel .inner {
	text-align: left;
	padding: 50px;

}

/*.panel * {
	border: 1px solid black;
}
*/


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#atom {

/*	width: 100px;
	height: 100px;
*/
	position: absolute;
	bottom: 50px;
	left: 125px;

/*	background-color: #222;*/

	z-index: 20;
}

#atomBackground {

	width: 150px;
	height: 150px;

	position: absolute;
	bottom: 50px;
	left: 125px;

	z-index: 15;
}

#atomButton {

	width: 150px;
	height: 150px;

	position: absolute;
	bottom: 55px;
	left: 125px;

	text-align: center;
	font-size: 36pt;
	color: #BBB;

	z-index: 25;
}

#atomButton a:hover {
	color: #FFF;
}

#atomButton a:active {
	color: #888;
}
