/* first assign web font */
@font-face {
	font-family: 'noname_sans';
    src: url('noname/nonamesans-extralight-webfont.eot');
    src: url('noname/nonamesans-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('noname/nonamesans-extralight-webfont.woff2') format('woff2'),
         url('noname/nonamesans-extralight-webfont.woff') format('woff'),
         url('noname/nonamesans-extralight-webfont.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;

}

@font-face {
	font-family: 'noname_sans';
    src: url('noname/nonamesans-regular-webfont.eot');
    src: url('noname/nonamesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('noname/nonamesans-regular-webfont.woff2') format('woff2'),
         url('noname/nonamesans-regular-webfont.woff') format('woff'),
         url('noname/nonamesans-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'noname_sans';
    src: url('noname/nonamesans-bold-webfont.eot');
    src: url('noname/nonamesans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('noname/nonamesans-bold-webfont.woff2') format('woff2'),
         url('noname/nonamesans-bold-webfont.woff') format('woff'),
         url('noname/nonamesans-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(icons.ttf) format('truetype');
  }


  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	display: inline-block;
	line-height: .5;
	position: relative;
	top: 4px;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }


/*---------------clear-------------*/
.clear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clear {display:inline-block;}
/* Hide from IE Mac \*/
.clear { display:block; }
/* End hide from IE Mac */
* html .clear {height:1px;}
/*---------------clear-------------*/



* {
/*	position: relative;  */
	padding: 0; margin: 0;
	cursor: default;
}

html {
	height: 100%;
	width: 100%;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: none;
    color: #444;
	display: flex;

	max-height: 100% !important;
	max-width: 100% !important;
	overflow-y: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}


hr {
	border: none;
	border-top: 1px solid #F8B334;

	margin-top: 30px;
	margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
	/* font-family: "noname_sans", -apple-system, BlinkMacSystemFont, sans-serif; */

	font-weight: normal;
    line-height: 120%;
	margin-bottom: 15px;
	margin-top: 10px;

	color: #000;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}


.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {

	color: #FFF;
}


p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
	margin-top: 25px;
}

p + p {
	margin-top: 6px;
}

input, textarea, select {
/*	font-family: 'Nitti Light', 'Andale Mono', monospace;
*/	font-weight: normal;
	font-size: inherit;
	line-height: 120%;
	color: #444;
	padding: 8px;
	padding-left: 10px;
	padding-bottom: 8px;
	width: 97%;
/*	word-spacing: -3px; */
	margin-top: 3px;
	margin-bottom: 10px;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;
	border: none;
}

input::-webkit-input-placeholder, {
   color: #BBB;
}

input:-moz-placeholder {
   color: #BBB;
}

input::-moz-p {
   color: #BBB;
}

input:-ms-input-placeholder {
   color: #BBB;
}


select {
	width: inherit;
}

input[type=button],input[type=submit],a.button {
	width: auto;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 8px;
	margin-left: 0px;
	margin-bottom: 6px; 
	margin-right: 0px;
	cursor: pointer;
	background-color: #197AA3;
	border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; -khtml-border-radius:20px;
	-webkit-appearance: none;
	font-family: inherit;
	color: #FFF !important;
	display: inline-block;
}

input[type=button]+input[type=button], input[type=button]+input[type=submit], input[type=button]+.button,
input[type=submit]+input[type=submit], input[type=submit]+input[type=button], input[type=submit]+.button,
.button+.button, .button+input[type=button], .button+input[type=submit],

.no-print input[type=button]+.no-print input[type=button], .no-print input[type=button]+input[type=submit], .no-print input[type=button]+.button,
input[type=submit]+input[type=submit], input[type=submit]+.no-print input[type=button], input[type=submit]+.button,
.button+.button, .button+.no-print input[type=button], .button+input[type=submit]

 {
	margin-left: 5px; 
}

.button.secondary, a.button.secondary, input[type=button].secondary {
	background-color: rgba(0, 0, 0, .2) !important;
	color: rgba(0, 0, 0, .3) !important;
}


.dark .button.secondary, .dark a.button.secondary, .dark input[type=button].secondary {
	background-color: rgba(255, 255, 255, .2) !important;
	color: rgba(255, 255, 255, .3) !important;
}

input[type=button].important,input[type=submit].important,.button.important {
	background-color: #ff8746;
	color: #333;
}

input[type=radio],input[type=checkbox] {
	width: 25px;
}

label {
	cursor: pointer;

}

.contextmenu {
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#centerMessageWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;

	display: none;

}

#centerMessage {

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
		

	padding: 20px;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;

	background-color: rgba(0, 0, 0, .8);
	color: white;

	font-size: 18px;

	border-radius: 8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px;

	z-index: 150;


}


.wrapper {

    overflow: hidden;
    -ms-overflow-style: none;

    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* opxional: just make scrollbar invisible */
}

.sidebar {
	font-size: 14px;
	position:absolute;
    background-color: #333;
    color: #DDD;
    width: 300px;
    /* height: 100%; */

	bottom: 0;

    overflow-y: scroll;


}

#sidebar .headline, .metadataCategory {
	font-size: 75%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
    padding: 15px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
}




#sidebar .line {
    padding: 13px;
    padding-top: 4px;
    padding-bottom: 4px;

    height: 23px;

}

#sidebar .line.hover {
	background-color: rgba(0, 0, 0, .15);
}

#sidebar .publisher.line.selected {
	background-color: rgba(0, 0, 0, 1);
}

#sidebar .subscription.line.selected {
	background-color: rgba(0, 0, 0, .1);
}

#sidebar .publisher.line.single.selected {
	border-left: 3px solid #259CD3;
	padding-left: 10px;
}

#sidebar .subscription.line.selected {
	border-left: 3px solid #259CD3;
	padding-left: 10px;
}


#sidebar .line .name {
	position: relative;
	padding: 3px;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
}

#sidebar .subscription.line .name {
	color: #999;
	padding-left: 9px;
}


#sidebar .publisherWrapper .subscriptions {
	background-color: rgba(0, 0, 0, .1);
}

#sidebar .publisherWrapper .subscriptions div.margin {
	height: 10px;
	z-index: 100;
	pointer-events: none;
}

#sidebar .publisherWrapper .subscriptions div.margin.top {
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
	margin-bottom: -10px;
	position: relative;
	top: -33px;
	z-index: 100;
}

#sidebar .publisherWrapper .subscriptions div.margin.bottom {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
	margin-top: -10px;
}


#sidebar .badges {
	position: relative;
	border-radius: 5px;
	float: right;
	overflow: hidden;
	-ms-overflow-style: none;

	margin-left: 5px;
	margin-right: 0px;

/*	border: 1px solid white;

*/}

#sidebar .badge {
	padding: 3px;
	padding-left: 2px;
	padding-right: 2px;
	float: right;
}

#sidebar .badge.liveConnectionStatus {
}

.liveConnectionStatus .connected {
	color: #00FFA8;
}

.liveConnectionStatus .disconnected {
	color: #555;
}

#sidebar .badge.numbers {
	padding-left: 6px;
	padding-right: 6px;
}

#sidebar .reloadAnimation {
	position: relative;
	float: right;

/*	display: none;*/
}

.alert {
	color: yellow;

/*	display: none;*/
}

#sidebar .alert {
	position: relative;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	top: 3px;

/*	display: none;*/
}

#sidebar .revealIdentity {
	position: relative;
	float: right;
	margin-left: 2px;
	margin-right: 2px;
	top: 0px;

/*	display: none;*/
}

#sidebar .line[dir="rtl"] .name {
	float: right;
	text-align: right;
 }

#sidebar .line[dir="rtl"] .badge {
	float: left;
 }

#sidebar .line[dir="rtl"] .reloadAnimation {
	float: left;

/*	display: none;*/
}


#sidebar .line .badge.installed {
	color: black;
	background-color: #666;
}

#sidebar .subscription.line .badge.installed {
	color: black;
	background-color: #444;
}

#sidebar .line .badge.outdated {
	color: black;
	background-color: #EC7029;
}

#sidebar .subscription.line .badge.outdated {
	color: black;
	background-color: #8C5337;
}

#sidebar #bottom {
	position: absolute;
	padding: 20px;
	bottom: 0px;
}

#subscriptions {
	left: 200px;
	width: 200px;
	background-color: #444;
}

#subscriptions.sidebar .line.selected {
	background-color: #222;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



#betaMessage div {
	height: 50px;
	margin: 20px;
	
}


#topMessage {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	background-color: rgba(0, 0, 0, .4);
	color: rgba(255, 255, 255, .5);
	padding: 10px;
	text-align: right;

}


body {
    background-color: #FFF;
}

body.dark {
    background-color: #262626;
	color: 999999;
}

.main {

	/*display: none;*/
	position:absolute;

	left: 300px;
	top: 0;
	bottom: 0;
	right: 0px;

    height: 100%;

    overflow-y: scroll;

}

#main .foundry {

}


#main .publisher .head {
	width: 100%;
	color: #000;

	padding: 25px;
	background-color: #EEE; 

}

#main .publisher .head .inner {
	margin-right: 50px;
}

#main .publisher .head .warningButton {
	color: #E5352D;
}

#main .publisher .head .logo {
	float: left;
	margin-right: 15px;
}

#main .publisher .head .names {
	float: left;
	position: relative;
	top: -4px;
}

#main .publisher .head .names .name {
	font-weight: normal;
	font-size: 24px;
}

#main .publisher .head .names .website {
	color: #555;
	margin-top: 5px;
	margin-left: 2px;
}

#main .publisher .head .buttons {
/*	width: 30%;
*/	position: absolute;
	left: 25px;
	right: 25px;
}

#main .publisher div.right {
	float: right;
	margin-left: 10px;
	text-align: left;
}

#main .publisher div.left {
	text-align: left;
	float: left;
	margin-right: 10px;
}



#main .publisher .foundry .families {
	padding: 25px;
}

/* ////////////// FAMILY ////////////// */

#main .publisher .family {
	margin-bottom: 20px;

	padding-left: 25px;
	padding-right: 25px;
	margin-left: -25px;
	margin-right: -25px;
}

#main .publisher .family .title {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 3px;
}

#main .publisher .family .name {
	font-size: 24px;
/*	font-weight: bold;
	color: #F17022;
*/}

#main .publisher .family .title.selected .name {
	color: white;
}

/* ////////////// SECTION ////////////// */

#main .publisher .family .section {
	margin-bottom: 0px;

	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 8px;
	margin-left: -25px;
	margin-right: -25px;
}

#main .publisher .family .section .title .name {
	padding-top: 5px;
	padding-bottom: 5px;

	height: 15px;

	margin-right: -5px;

	font-size: 75%;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding: 5px;
    padding-bottom: 8px;
/*    padding-left: 20px;
    padding-right: 20px;
*//*    color: #999;
*/
}

.section .installButtons {
	display: none;
}

.section.hover .title .installButtons {
	display: block;
}

.section.hover .more {
	display: none;
}


.section .button {
	margin: inherit;
	padding: inherit;
	text-transform: none;
	color: white;
	font-size: 14px;
	letter-spacing: 0px;

	border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -khtml-border-radius:0px;

	padding-top: 3px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	margin-top: -4px;
	margin-bottom: -4px;
	margin-left: 0px;
	margin-right: -4px;

	position: relative;
	top: 0px;
}

.section .button.installButton {
	background-color: white;
	color: #97BF19;
}

.section .button.removeButton {
	background-color: white;
	color: #E22122;
}

/* ////////////// FONT ////////////// */

#main .publisher .font {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: -25px;
	margin-right: -25px;
	height: 19px;

/*	transition: background-color .2s; */
}

#main .publisher .font.hover, #main .publisher .section.hover {
	background-color: #F7F7F7;
}

#main .publisher .font.selected, #main .publisher .family .title.selected {
	background-color: #F17022;
}

.font .installButtons {
	display: none;
	margin-right: -21px;
}

.font .notInstalled {
	color: #C6C7C8;
	font-style: italic;


}

.font .expiryText {

}

.font .expiryText .countdown {
	color: red;
}


/* ######## Installation statuses ############ */


.font .status.loading {
	display: none;
}

.font.loading .status.loading {
	display: block;
}

.font .status.install {
	display: none;
}

.font.notInstalled .status.install {
	display: block;
}

.font.loading .status.install {
	display: none;
}

.font .status.remove {
	display: none;
}

.font.installed .status.remove {
	display: block;
}

.font.loading .status.remove {
	display: none;
}

.font.loading .more {
	display: none;
}



.font.hoverOverFont .more {
	display: none;
}

.font.hoverOverFont .installButtons {
	display: block;
}

#main .publisher a:hover {
/*	color: gray;
*/}

#main .publisher a:active {
	color: black;
}

.label {
	background-color: lightgray;
	border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; -khtml-border-radius:20px;
	margin-left: 5px;
	font-size: 80%;
	padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 3px;
	position: relative;
	top: 0px;

/*	transition: background-color .2s; */
}

.label.free {
	background-color: #D4EBF4;
	color: #009EE0;
}

.label.installedFonts {
	background-color: #97BF0D;
	color: black;
}

.label.pre {
	background-color: #F4D9CB;
	color: #F17022;
}

.label.var {
	background-color: #F4DBB3;
	color: #CC8D27;
}

#main .publisher .font.hover .label {
/*	background-color: #FFF; */
}

/* *** font versions *** */

.label.installedVersion.latestVersion {
	background-color: #97BF19;
	color: white;
}

#main .publisher .font.hover .label.installedVersion.latestVersion {
/*	background-color: white;
	color: #97BF19;
*/}

.label.installedVersion.olderVersion {
	background-color: #EC7029;
	color: white;
}

#main .publisher .font.hover .label.installedVersion.olderVersion {
/*	background-color: white;
	color: #F7AE22;
*/}


/* ////////////// METADATA ////////////// */



#metadataWrapper {

	/* display: block; */
	position: absolute;

	right: 0px;
	top: 0;
	bottom: 0;
	width: 0px;

    height: 100%;

    overflow-y: scroll;

    z-index: 99;


}

#metadata {

/*    background-color: #FFF;
*//*    height: 100%; */
    width: 300px;
    max-width: 300px;
    overflow-x: hidden;

}

#metadata .inner {
    width: 300px;
    /* max-width: 300px; */
}


#metadata .name {
	padding: 18px 7px 7px 15px; /* top right bottom left */
	font-size: 140%;
/*	font-weight: bold;
*/}

#metadata .categories {
	padding: 10px 7px 10px 15px; /* top right bottom left */
}

#metadata .categories .category {
	display: inline-block;
	margin-right: 8px;
}

#metadata .categories .category.selected {
	font-weight: bold;
}

#metadata .categoryBody {
    max-width: 300px;
	word-wrap: normal;
}

#metadata .categoryBody.license, .categoryBody.information, .categoryBody.versions, .categoryBody.help {
	padding: 10px 10px 20px 15px; /* top right bottom left */
}


.fontBillboardLinks {
	padding: 2px;
}

.fontBillboardLinks.selected {
}



#metadata .version {
	margin-bottom: 8px;
}

.metadataCategory {
	/* font-size: 75%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px; */
    padding: 15px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 20px;
	/* opacity: .5; */
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#addPublisher .inner {

	z-index: 100;
	background-color: #EEE;

	position:absolute;
	left: 00px;
	top: 0;
	bottom: 0;
	right: 0px;

	padding: 100px;

	text-align: left;


}


.closePanelButton {
	text-align: right;
	font-size: 24px;
	margin-right: 20px;
	margin-top: 20px;
	z-index: 300;
}

#metadata .closePanelButton {
	font-size: 14px;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#welcome {

	/* font-family: 'noname_sans', -apple-system, BlinkMacSystemFont, sans-serif; */
	font-weight: bold;
    font-size: 24px;
    line-height: 120%;

    height: 100%;
    background-color: #EDEBDD;

    overflow-y: hidden;


}

.dark #welcome {
    background-color: #262626;
    color: #999999;
}

.panel {

	display: none;
	position: absolute;

	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;

    background-color: #EDEBDD;

    overflow-y: scroll;

    font-size: 14px;
    line-height: 130%;

	text-align: center;

	z-index: 200;

/*	border: 1px solid green;
*/

}


.dark .panel {
    background-color: #1A1A1A;
    color: #999999;
}


.panel .head {
	height: 150px;
	background-color: #333;
	position: relative;
	z-index: 200;
}

.panel .head .tabs {
	position: absolute;
	bottom: 0px;
	padding-left: 80px;
}

.panel .head .tab {
	float: left;
	background-color: #444;

	position: relative;
	top: 10px;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.panel .head .tab.active {
    background-color: #EDEBDD;

	top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dark .panel .head .tab.active {
    background-color: #1A1A1A;
}


.panel h2 {
	/* font-family: 'noname_sans', -apple-system, BlinkMacSystemFont, sans-serif; */
	font-weight: normal;
    line-height: 120%;
	
}


.panel a {
	color: #259CD3;
}

.dark .panel a {
	color: #C07F07;
}

.panel .centerOuter {

/*	border: 1px solid red;
*/
/*	display: inline-block;
*/

}

.panel .inner {

	text-align: left;
	width: 800px;

/*	border: 1px solid blue;
*/
	position: relative;

	margin: 80px;


}

.panel .closePanelButton {
	position: fixed;
	right: 20px;
	top: 20px;
}

.closePanelButton a {
	color: #000 !important;

	background-color: rgba(0,0,0,.2);
	padding: 9px;
	padding-top: 0px;
	padding-bottom: 7px;
	border-radius: 30px; -moz-border-radius:30px; -webkit-border-radius:30px; -khtml-border-radius:30px;
}

#preferences.panel .closePanelButton a {
	color: white !important;
}

/*.panel * {
	border: 1px solid black;
}
*/


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.betaMessage {
	/* position: absolute; */
	/* bottom: 180px; */
	left: 0px;
	width: 300px;

	z-index: 20;

	color: #ccc;
}

.betaMessage a {
	color: yellow;
}

.betaMessage div {
	margin: 20px;
	margin-left: 30px;
}


#atom {

/*	width: 100px;
	height: 100px;
*/
	/* position: absolute; */
	/* bottom: 70px;
	left: 90px; */

/*	background-color: #222;*/

	z-index: 20;
}

#sidebarBottom {
	position: absolute;
	bottom: 0px;
	width: 300px;
	display:inline-block;

	text-align: center;
	/* background-color: #111; */
}

.messageQueue {
	position: relative;
	top: 1px;
	margin-right: 3px;
}

.messageQueue .connected {
	color: #00FFA8;
	display: none;
}

.messageQueue .error {
	color: red;
	display: none;
}

.messageQueue .disconnected {
}

#userAccountLoading {
	display: none;
}

#userAccountLoading img {
	height: 18px; 
	position: relative; 
	top: 1px; 
	margin-bottom: -4px;
}

#userBadgeWrapper {
	margin-bottom: 30px;
}

#userBadge {

	display: inline-block;

	font-size: 14px;

	transition: color .5s;

	z-index: 25;

	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	color: #000;
	background-color: #444;

}

#alertWrapper div {
	padding: 7px;
	background-color: #FFC500;
	color: black;
	display: none;
}



div + div.headline {
	margin-top: 10px;
}



.invitationButton {
	display: inline-block;
	padding: 7px;
	padding-right: 9px;
	background-color: white;
}

.invitationButton .symbol {
	float: left;
	width: 20px;
	text-align: center;
	margin-right: 3px;
}

.invitationButton .text {
	float: left;
}

a:hover.acceptInvitation {
	color: green !important;
}

a:hover.declineInvitation {
	color: red !important;
}

.lighter {
	color: rgba(0, 0, 0, .6);
}


.vertCenterOuter {
	display: table;
  

/*  border: 1px solid red;*/

}

.vertCenterMiddle {
	 display: table-cell;
  vertical-align: middle;

/*  border: 1px solid yellow;*/
}

.vertCenterInner {
	margin-left: auto;
  margin-right: auto;

/*  border: 1px solid green;*/
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}


.visibleWhenProStatus {
	display: none;
}

.visibleWhenNormalStatus {
	display: inline-block;
}

.proUserStatusBadge {
	display: inline-block;
	background-color: #555;
	color: black;
	border-radius: 2px; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 2px;
	margin-right: 2px;

	font-size: 14px;
}

.visibleWhenProStatus .proUserStatusBadge {
	background-color: #82368C;
}

.visibleWhenNormalStatus .proUserStatusBadge {
}


