/*---------------clear-------------*/
.clear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clear {display:inline-block;}
/* Hide from IE Mac \*/
.clear { display:block; }
/* End hide from IE Mac */
* html .clear {height:1px;}
/*---------------clear-------------*/



* {
/*	position: relative;  */
	padding: 0; margin: 0;
	cursor: default;
}

html {
	height: 100%;
	width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 10pt;
    line-height: 14pt;
    margin: none;
}

a {
	color: inherit;
	text-decoration: none;
}


hr {
	border: none;
	border-top: 1px solid #F8B334;

	margin-top: 30px;
	margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 10px;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
	margin-top: 25px;
}

p + p {
	margin-top: 6px;
}

input, textarea, select {
/*	font-family: 'Nitti Light', 'Andale Mono', monospace;
*/	font-weight: normal;
	font-size: inherit;
	line-height: 120%;
	color: #444;
	padding: 3px;
	padding-left: 6px;
	padding-bottom: 5px;
	width: 97%;
/*	word-spacing: -3px; */
	margin-top: 2px;
	margin-bottom: 9px;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;
	border: none;
}

select {
	width: inherit;
}

input[type=button],input[type=submit],a.button {
	width: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
	margin-left: 0px;
	margin-bottom: 6px; 
	margin-right: 0px;
	cursor: pointer;
	background-color: #58585A;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;
	-webkit-appearance: none;
	font-family: inherit;
	color: #FFF !important;
	display: inline-block;
}

a.button {
	padding-top: 3px;
	padding-bottom: 4px;
}
input[type=button]+input[type=button], input[type=button]+input[type=submit], input[type=button]+.button,
input[type=submit]+input[type=submit], input[type=submit]+input[type=button], input[type=submit]+.button,
.button+.button, .button+input[type=button], .button+input[type=submit],

.no-print input[type=button]+.no-print input[type=button], .no-print input[type=button]+input[type=submit], .no-print input[type=button]+.button,
input[type=submit]+input[type=submit], input[type=submit]+.no-print input[type=button], input[type=submit]+.button,
.button+.button, .button+.no-print input[type=button], .button+input[type=submit]

 {
	margin-left: 5px; 
}

.button.secondary, a.button.secondary, input[type=button].secondary {
	background-color: rgba(0, 0, 0, .2) !important;
	color: rgba(0, 0, 0, .2) !important;
}

input[type=button].important,input[type=submit].important,.button.important {
	background-color: #ff8746;
	color: #333;
}

input[type=radio],input[type=checkbox] {
	width: 25px;
}

label {
	cursor: pointer;

}

.contextmenu {
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#centerMessageWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;

	display: none;

}

#centerMessage {

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
		

	padding: 20px;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;

	background-color: rgba(0, 0, 0, .8);
	color: white;

	font-size: 14pt;

	border-radius: 8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px;

	z-index: 150;


}


.wrapper {

    overflow: hidden;
    -ms-overflow-style: none;

    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.sidebar {
	font-size: 14px;
	position:absolute;
    background-color: #333;
    color: #DDD;
    width: 300px;
/*    height: 100%;
*/
    top: 0;
    bottom: 0;

    overflow-y: scroll;


}

.sidebar .headline {
	font-size: 75%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
    padding: 15px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
}




.sidebar .line {
    padding: 13px;
    padding-top: 4px;
    padding-bottom: 4px;

    height: 23px;

}

.sidebar .line.hover {
	background-color: rgba(0, 0, 0, .15);
}

.sidebar .publisher.line.selected {
	background-color: rgba(0, 0, 0, 1);
}

.sidebar .subscription.line.selected {
	background-color: rgba(0, 0, 0, .1);
}

.sidebar .publisher.line.single.selected {
	border-left: 3px solid #259CD3;
	padding-left: 10px;
}

.sidebar .subscription.line.selected {
	border-left: 3px solid #259CD3;
	padding-left: 10px;
}


.sidebar .line .name {
	position: relative;
	padding: 3px;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
}

.sidebar .subscription.line .name {
	color: #999;
	padding-left: 9px;
}


.sidebar .publisherWrapper .subscriptions {
	background-color: rgba(0, 0, 0, .1);
}

.sidebar .publisherWrapper .subscriptions div.margin {
	height: 10px;
	z-index: 100;
	pointer-events: none;
}

.sidebar .publisherWrapper .subscriptions div.margin.top {
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
	margin-bottom: -10px;
	position: relative;
	top: -33px;
	z-index: 100;
}

.sidebar .publisherWrapper .subscriptions div.margin.bottom {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
	margin-top: -10px;
}


.sidebar .badges {
	position: relative;
	border-radius: 5px;
	float: right;
	overflow: hidden;
	-ms-overflow-style: none;

	margin-left: 5px;
	margin-right: 0px;

/*	border: 1px solid white;

*/}

.sidebar .badge {
	padding: 3px;
	padding-left: 2px;
	padding-right: 2px;
	float: right;
}

.sidebar .badge.numbers {
	padding-left: 6px;
	padding-right: 6px;
}

.sidebar .reloadAnimation {
	position: relative;
	float: right;

/*	display: none;*/
}

.sidebar .alert {
	position: relative;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	top: 3px;

/*	display: none;*/
}

.sidebar .revealIdentity {
	position: relative;
	float: right;
	margin-left: 2px;
	margin-right: 2px;
	top: 0px;

/*	display: none;*/
}

.sidebar .line[dir="rtl"] .name {
	float: right;
	text-align: right;
 }

.sidebar .line[dir="rtl"] .badge {
	float: left;
 }

.sidebar .line[dir="rtl"] .reloadAnimation {
	float: left;

/*	display: none;*/
}


.sidebar .line .badge.installed {
	color: black;
	background-color: #666;
}

.sidebar .subscription.line .badge.installed {
	color: black;
	background-color: #444;
}

.sidebar .line .badge.outdated {
	color: black;
	background-color: #EC7029;
}

.sidebar .subscription.line .badge.outdated {
	color: black;
	background-color: #8C5337;
}

.sidebar #bottom {
	position: absolute;
	padding: 20px;
	bottom: 0px;
}

#subscriptions {
	left: 200px;
	width: 200px;
	background-color: #444;
}

#subscriptions.sidebar .line.selected {
	background-color: #222;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#main {

	/*display: none;*/
	position:absolute;

	left: 300px;
	top: 0;
	bottom: 0;
	right: 0px;

    height: 100%;
    background-color: #FFF;

    overflow-y: scroll;

}


#main .foundry {

}


#main .publisher .head {
	width: 100%;
	color: #000;

	padding: 25px;
	background-color: #EEE; 

}

#main .publisher .head .inner {
	margin-right: 50px;
}

#main .publisher .head .warningButton {
	color: #E5352D;
}

#main .publisher .head .logo {
	float: left;
	margin-right: 15px;
}

#main .publisher .head .names {
	float: left;
	position: relative;
	top: -4px;
}

#main .publisher .head .names .name {
	font-weight: normal;
	font-size: 24px;
}

#main .publisher .head .names .website {
	color: #555;
	margin-top: 2px;
}

#main .publisher .head .buttons {
/*	width: 30%;
*/	position: absolute;
	left: 25px;
	right: 25px;
}

#main .publisher div.right {
	float: right;
	margin-left: 10px;
	text-align: left;
}

#main .publisher div.left {
	text-align: left;
	float: left;
	margin-right: 10px;
}



#main .publisher .foundry .families {
	padding: 25px;
}

/* ////////////// FAMILY ////////////// */

#main .publisher .family {
	margin-bottom: 20px;

	padding-left: 25px;
	padding-right: 25px;
	margin-left: -25px;
	margin-right: -25px;
}

#main .publisher .family .title {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 3px;
}

#main .publisher .family .name {
	font-size: 24px;
/*	font-weight: bold;
	color: #F17022;
*/}

#main .publisher .family .title.selected .name {
	color: white;
}

/* ////////////// SECTION ////////////// */

#main .publisher .family .section {
	margin-bottom: 0px;

	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 8px;
	margin-left: -25px;
	margin-right: -25px;
}

#main .publisher .family .section .title {
	padding-top: 5px;
	padding-bottom: 5px;

	height: 15px;

	margin-right: -5px;

	font-size: 75%;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding: 5px;
    padding-bottom: 8px;
/*    padding-left: 20px;
    padding-right: 20px;
*/    color: #999;
}

.section .installButtons {
	display: none;
}

.section.hover .title .installButtons {
	display: block;
}

.section.hover .more {
	display: none;
}


.section .button {
	margin: inherit;
	padding: inherit;
	text-transform: none;
	color: white;
	font-size: 12px;
	letter-spacing: 0px;

	padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 4px;
	margin-top: -4px;
	margin-bottom: -4px;
	margin-left: 0px;
	margin-right: -4px;

	position: relative;
	top: -1px;
}

.section .button.installButton {
	background-color: #97BF19;
}

.section .button.removeButton {
	background-color: #E22122;
}

/* ////////////// FONT ////////////// */

#main .publisher .font {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: -25px;
	margin-right: -25px;

/*	transition: background-color .2s; */
}

#main .publisher .font.hover, #main .publisher .section.hover {
	background-color: #F7F7F7;
}

#main .publisher .font.selected, #main .publisher .family .title.selected {
	background-color: #F17022;
}

.font .installButtons {
	display: none;
}

.font .notInstalled {
	color: #C6C7C8;
	font-style: italic;


}

.font .status {
	display: none;
}

.font.hoverOverFont .more {
	display: none;
}

.font.hoverOverFont .installButtons {
	display: block;
}

#main .publisher a:hover {
	color: gray;
}

#main .publisher a:active {
	color: black;
}

.label {
	background-color: lightgray;
	border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -khtml-border-radius:8px;
	margin-left: 5px;
	font-size: 80%;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	position: relative;
	top: -1px;

/*	transition: background-color .2s; */
}

.label.free {
	background-color: #D4EBF4;
	color: #009EE0;
}

.label.installedFonts {
	background-color: #97BF0D;
	color: black;
}

.label.pre {
	background-color: #F4D9CB;
	color: #F17022;
}

.label.var {
	background-color: #F4DBB3;
	color: #CC8D27;
}

#main .publisher .font.hover .label {
/*	background-color: #FFF; */
}

/* *** font versions *** */

.label.installedVersion.latestVersion {
	background-color: #97BF19;
	color: white;
}

#main .publisher .font.hover .label.installedVersion.latestVersion {
/*	background-color: white;
	color: #97BF19;
*/}

.label.installedVersion.olderVersion {
	background-color: #EC7029;
	color: white;
}

#main .publisher .font.hover .label.installedVersion.olderVersion {
/*	background-color: white;
	color: #F7AE22;
*/}




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#addPublisher .inner {

	z-index: 100;
	background-color: #EEE;

	position:absolute;
	left: 00px;
	top: 0;
	bottom: 0;
	right: 0px;

	padding: 100px;

	text-align: left;


}


.closePanelButton {
	color: #333;
	text-align: right;
	font-size: 24pt;
	margin-right: 20px;
	margin-top: 20px;

}

.closePanelButton a {
	color: #333 !important;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#welcome {

	/*display: none;*/
	position:absolute;

	left: 300px;
	top: 0;
	bottom: 0;
	right: 0px;

    height: 100%;
    background-color: #EDEBDD;

    overflow-y: scroll;

    font-size: 18pt;
    line-height: 24pt;

}

.panel {

	display: none;
	position: absolute;

	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;

    background-color: #EDEBDD;

    overflow: scroll;

    font-size: 10pt;
    line-height: 15pt;

	text-align: center;

	z-index: 200;

/*	border: 1px solid green;
*/

}

.panel a {
	color: #259CD3;
}

.panel .centerOuter {

/*	border: 1px solid red;
*/
/*	display: inline-block;
*/

}

.panel .inner {

	text-align: left;
	width: 800px;

/*	border: 1px solid blue;
*/
	position: relative;

	margin: 80px;


}

.panel .closePanelButton {
	position: fixed;
	right: 20px;
	top: 20px;
}

/*.panel * {
	border: 1px solid black;
}
*/


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#atom {

/*	width: 100px;
	height: 100px;
*/
	position: absolute;
	bottom: 50px;
	left: 75px;

/*	background-color: #222;*/

	z-index: 20;
}

#atomBackground {

	width: 150px;
	height: 150px;

	position: absolute;
	bottom: 50px;
	left: 75px;

	z-index: 15;
}

#atomButton {

	width: 150px;
	height: 150px;

	position: absolute;
	bottom: 55px;
	left: 75px;

	text-align: center;
	font-size: 36pt;

	transition: color .5s;
	color: #999;

	z-index: 25;

}

#atomButton a:hover {
	color: #FFF;
	transition: color .5s;
}

#atomButton a:active {
	color: #888;
}


#userWrapper {
	position: absolute;
	bottom: 30px;
	width: 300px;

	text-align: center;
}

#userBadge {

	display: none;

/*	width: 150px;
*//*	height: 30px;
*/
/*	left: 150px;



*/	
	display: inline-block;

	font-size: 10pt;

	transition: color .5s;

	z-index: 25;

	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
	color: #000;
	background-color: #444;

}


div + div.headline {
	margin-top: 10px;
}



.invitationButton {
	display: inline-block;
	padding: 7px;
	padding-right: 9px;
	background-color: white;
}

.invitationButton .symbol {
	float: left;
	width: 20px;
	text-align: center;
	margin-right: 3px;
}

.invitationButton .text {
	float: left;
}

a:hover.acceptInvitation {
	color: green !important;
}

a:hover.declineInvitation {
	color: red !important;
}

.lighter {
	color: rgba(0, 0, 0, .6);
}


.vertCenterOuter {
	display: table;
  

/*  border: 1px solid red;*/

}

.vertCenterMiddle {
	 display: table-cell;
  vertical-align: middle;

/*  border: 1px solid yellow;*/
}


.vertCenterInner {
	margin-left: auto;
  margin-right: auto;

/*  border: 1px solid green;*/
}